<ion-header>
  <ion-toolbar>
    <h1 id="banner"><ion-img id="imagen" height="83" src="https://thumbs.dreamstime.com/b/logo-vector-para-tienda-de-anime-y-souvenirs-157349535.jpg"></ion-img>Juguetes </h1>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-card>
      <ion-img height="141" class="center" src="https://media.discordapp.net/attachments/1015385673966030891/1015809338247499796/z.jpeg?width=512&height=676"></ion-img>
      <ion-item>
  
        <ion-label>FIGURA DRAGON BALL Z (SUPER SAIYAN GOKU)</ion-label>
        <ion-button (click)="presentAlert()">Comprar</ion-button>
      </ion-item>
    
      <ion-card-content>
        $35.990
  
      </ion-card-content>
    </ion-card>
  
  
  
  
  
    <ion-card>
      <ion-img height="141" class="center" src="https://cdn.discordapp.com/attachments/1015385673966030891/1015809486667124746/levi.jpg"></ion-img>
      <ion-item>
  
        <ion-label>Figura Levi Ackerman Ensangrentado- Shingeki no Kyojin</ion-label>
        <ion-button (click)="presentAlert()">Comprar</ion-button>
      </ion-item>
    
      <ion-card-content>
        $45.990
  
  
      </ion-card-content>
    </ion-card>
  
  
  
    <ion-card>
      <ion-img height="141" class="center" src="https://cdn.discordapp.com/attachments/1015385673966030891/1015809338016800809/virgo.jpg"></ion-img>
      <ion-item>
  
        <ion-label>Bandai Japón Saint Seiya Virgo Shaka </ion-label>
        <ion-button (click)="presentAlert()">Comprar</ion-button>
      </ion-item>
    
      <ion-card-content>
        $59.990
  
      </ion-card-content>
    </ion-card>














  <ion-footer collapse="fade">
    <ion-toolbar>
      <br>
      <h2>Nuestras redes Sociales:</h2>
      <br>
      <pre><ion-icon name="logo-whatsapp"></ion-icon> +56942764178</pre>
      <pre><ion-icon name="logo-instagram"></ion-icon> @AnimeShopping</pre>
      <pre><ion-icon name="logo-facebook"></ion-icon> AnnimeShopping</pre>
      <h2>Encuentranos en nuestro local en: </h2>
      <p>Direccion: Av.La Florida 10265</p>
    </ion-toolbar>
  </ion-footer>
</ion-content>
