<ion-header>
  <ion-toolbar>
    <h1 id="banner"><img height="83" id="imagen" src="https://thumbs.dreamstime.com/b/logo-vector-para-tienda-de-anime-y-souvenirs-157349535.jpg">   Accesorios </h1>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img height="141"  src="https://cdn.discordapp.com/attachments/1015385673966030891/1015809337509281873/D_NQ_NP_751184-MLC44326785053_122020-O.jpg">
    <ion-item>

      <ion-label>Collar Naruto Akatsuki Aldea De La Hoja</ion-label>
      <ion-button (click)="presentAlert()">Comprar</ion-button>
    </ion-item>
  
    <ion-card-content>
      $3.990

    </ion-card-content>
  </ion-card>





  <ion-card>
    <img height="141"  src="https://cdn.discordapp.com/attachments/1015385673966030891/1015809487988346970/shingeki.jpg">
    <ion-item>

      <ion-label>Colgante llave Attack on Titan (Shingeki no Kyojin)</ion-label>
      <ion-button (click)="presentAlert()">Comprar</ion-button>
    </ion-item>
  
    <ion-card-content>
      $5.990


    </ion-card-content>
  </ion-card>



  <ion-card>
    <img height="141" src="https://cdn.discordapp.com/attachments/1015385673966030891/1015809487183020124/narutooooo.jpg">
    <ion-item>

      <ion-label>Bandana de la villa Naruto con Logo Konoha</ion-label>
      <ion-button (click)="presentAlert()">Comprar</ion-button>
    </ion-item>
  
    <ion-card-content>
      $8.990

    </ion-card-content>
  </ion-card>

















  <ion-footer collapse="fade">
    <ion-toolbar>
      <br>
      <h2>Nuestras redes Sociales:</h2>
      <br>
      <pre><ion-icon name="logo-whatsapp"></ion-icon> +56942764178</pre>
      <pre><ion-icon name="logo-instagram"></ion-icon> @AnimeShopping</pre>
      <pre><ion-icon name="logo-facebook"></ion-icon> AnnimeShopping</pre>
      <h2>Encuentranos en nuestro local en: </h2>
      <p>Direccion: Av.La Florida 10265</p>
    </ion-toolbar>
  </ion-footer>
</ion-content>
