<ion-header>
  <ion-toolbar>
    <h1 id="banner" class="banner">
      <ion-img height="83" class="imagen" id="imagen"
        src="https://thumbs.dreamstime.com/b/logo-vector-para-tienda-de-anime-y-souvenirs-157349535.jpg"></ion-img> {{usuario}}
    </h1>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-img src="https://cdn.discordapp.com/attachments/1015385673966030891/1015809487673766059/ropa-anime-cool-1.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Vestuario</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Encuentra aqui la ropa de tu personaje de anime favorio.
    </ion-card-content>
    <ion-button routerLink = '/ropa'>Ver más...</ion-button>
  </ion-card>
  

  <ion-card>
    <ion-img src="https://cdn.discordapp.com/attachments/1015385673966030891/1015809337777729637/D_NQ_NP_865923-CBT48749981519_012022-O.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Accesorios</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Encuentra aqui los Accesorios de tu anime favorio.
    </ion-card-content>
    <ion-button routerLink = '/accesorios'>Ver más...</ion-button>
  </ion-card>


  <ion-card>
    <ion-img src="https://cdn.discordapp.com/attachments/1015385673966030891/1015809338461405184/1e87ec6f3ba7e9fbbd83350c5e11e6be.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Juguetes</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Encuentra aqui a tus figuras favoritas de anime.
    </ion-card-content>
    <ion-button routerLink = '/juguetes'>Ver más...</ion-button>
  </ion-card>

 




  <ion-footer collapse="fade">
    <ion-toolbar>

      <h2>Nuestras redes Sociales:</h2>
      <br>
      <pre><ion-icon name="logo-whatsapp"></ion-icon> +56942764178</pre>
      <br>
      <pre><ion-icon name="logo-instagram"></ion-icon> @AnimeShopping</pre>
      <br>
      <pre><ion-icon name="logo-facebook"></ion-icon> AnnimeShopping</pre>
      <h2>Encuentranos en nuestro local en: </h2>
      <p>Direccion: Av.La Florida 10265</p>
    </ion-toolbar>
  </ion-footer>
</ion-content>
