<ion-header>
  <ion-toolbar>
    <h1 id="banner"><ion-img id="imagen" height="83" src="https://thumbs.dreamstime.com/b/logo-vector-para-tienda-de-anime-y-souvenirs-157349535.jpg"></ion-img>     Ropa </h1>

  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-content>
    <ion-card>
      <ion-img height="141" class="center" src="https://cdn.discordapp.com/attachments/1015385673966030891/1015809486927179816/narutino.jpg"></ion-img>
      <ion-item>
  
        <ion-label>Disfraz de Naruto Naruto generación COS ropa Shippuden Naruto ropa disfraz de cosplay</ion-label>
        <ion-button (click)="presentAlert()">Comprar</ion-button>
      </ion-item>
    
      <ion-card-content>
        $19.990
  
      </ion-card-content>
    </ion-card>
  
  
  
  
  
    <ion-card>
      <ion-img height="141" class="center" src="https://media.discordapp.net/attachments/1015385673966030891/1015809486440648844/D_NQ_NP_916851-CBT44625211863_012021-O.jpg"></ion-img>
      <ion-item>
  
        <ion-label>Anime Shingeki No Kyojin  Capa</ion-label>
        <ion-button (click)="presentAlert()">Comprar</ion-button>
      </ion-item>
    
      <ion-card-content>
        $25.990
  
  
      </ion-card-content>
    </ion-card>
  
  
  
    <ion-card>
      <ion-img height="141" class="center" src="https://media.discordapp.net/attachments/1015385673966030891/1015809336901107793/ball.jpg"></ion-img>
      <ion-item>
  
        <ion-label>Dragon Ball Z Kame Símbolo Zip-Up Sudadera Con Capucha</ion-label>
        <ion-button (click)="presentAlert()">Comprar</ion-button>
      </ion-item>
    
      <ion-card-content>
        $25.990
  
      </ion-card-content>
    </ion-card>












  <ion-footer collapse="fade">
    <ion-toolbar>
      <br>
      <h2>Nuestras redes Sociales:</h2>
      <br>
      <pre><ion-icon name="logo-whatsapp"></ion-icon> +56942764178</pre>
      <pre><ion-icon name="logo-instagram"></ion-icon> @AnimeShopping</pre>
      <pre><ion-icon name="logo-facebook"></ion-icon> AnnimeShopping</pre>
      <h2>Encuentranos en nuestro local en: </h2>
      <p>Direccion: Av.La Florida 10265</p>
    </ion-toolbar>
  </ion-footer>

</ion-content>
